.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-container > * {
  padding: 20px;
}

.form-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #3a66c5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
  z-index: 1;
}

.preview {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}
