form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > input,
form > textarea {
  font-size: 1.1rem;
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 10px;
}

form > textarea {
  resize: none;
}

form > button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}

.personal-info-container,
.education-container,
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 450px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}

.btn-add-education,
.btn-add-experience {
  background-color: #3182ce;
  color: white;
}

.education-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-preview-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.btn-delete-education {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ec0002;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
